@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    <p>
        This site is a prototype created for educational purposes under the PROG7311 module.
        No real user data is collected or stored outside of local development. Please DO NOT USE private data
    </p>

    <p>
        All user accounts, product data, and roles are simulated and seeded for demonstration only.
    </p>

    <p>
        For any concerns regarding this application, please contact ST10326084.
    </p>
</div>
